MyWpfApp/Connected Services/PersonelService/PersonelBusiness.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PersonelBusiness" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54889/Business/PersonelBusiness.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54889/Business/PersonelBusiness.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54889/Business/PersonelBusiness.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MyWcfService.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPersonelService_Ekle_InputMessage">
    <wsdl:part name="parameters" element="tns:Ekle" />
  </wsdl:message>
  <wsdl:message name="IPersonelService_Ekle_OutputMessage">
    <wsdl:part name="parameters" element="tns:EkleResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonelService_Sil_InputMessage">
    <wsdl:part name="parameters" element="tns:Sil" />
  </wsdl:message>
  <wsdl:message name="IPersonelService_Sil_OutputMessage">
    <wsdl:part name="parameters" element="tns:SilResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonelService_Guncelle_InputMessage">
    <wsdl:part name="parameters" element="tns:Guncelle" />
  </wsdl:message>
  <wsdl:message name="IPersonelService_Guncelle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuncelleResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonelService_getPersonelList_InputMessage">
    <wsdl:part name="parameters" element="tns:getPersonelList" />
  </wsdl:message>
  <wsdl:message name="IPersonelService_getPersonelList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPersonelListResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonelService_Ara_InputMessage">
    <wsdl:part name="parameters" element="tns:Ara" />
  </wsdl:message>
  <wsdl:message name="IPersonelService_Ara_OutputMessage">
    <wsdl:part name="parameters" element="tns:AraResponse" />
  </wsdl:message>
  <wsdl:portType name="IPersonelService">
    <wsdl:operation name="Ekle">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonelService/Ekle" message="tns:IPersonelService_Ekle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonelService/EkleResponse" message="tns:IPersonelService_Ekle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Sil">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonelService/Sil" message="tns:IPersonelService_Sil_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonelService/SilResponse" message="tns:IPersonelService_Sil_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Guncelle">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonelService/Guncelle" message="tns:IPersonelService_Guncelle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonelService/GuncelleResponse" message="tns:IPersonelService_Guncelle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPersonelList">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonelService/getPersonelList" message="tns:IPersonelService_getPersonelList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonelService/getPersonelListResponse" message="tns:IPersonelService_getPersonelList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ara">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonelService/Ara" message="tns:IPersonelService_Ara_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonelService/AraResponse" message="tns:IPersonelService_Ara_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPersonelService" type="tns:IPersonelService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ekle">
      <soap:operation soapAction="http://tempuri.org/IPersonelService/Ekle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sil">
      <soap:operation soapAction="http://tempuri.org/IPersonelService/Sil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Guncelle">
      <soap:operation soapAction="http://tempuri.org/IPersonelService/Guncelle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPersonelList">
      <soap:operation soapAction="http://tempuri.org/IPersonelService/getPersonelList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ara">
      <soap:operation soapAction="http://tempuri.org/IPersonelService/Ara" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonelBusiness">
    <wsdl:port name="BasicHttpBinding_IPersonelService" binding="tns:BasicHttpBinding_IPersonelService">
      <soap:address location="http://localhost:54889/Business/PersonelBusiness.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>